.calculator {
  width: 30%;
  position: relative;
  margin: 0 auto;
  top: 25%;
}

.row_btn {
  display: flex;
}

.value {
  padding: 16px;
  font-size: 30px;
  background-color: #858693;
  color: #eee;
  text-align: right;
}

.keys {
  flex: 1;
  padding: 16px;
  font-size: 18px;
  color: #444;
  outline: none;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid rgb(219, 216, 216);
  text-align: center;
}
.zero {
  flex: 2.5;
}

.sign {
  background-color: #f5913e;
}
