.main {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-top: 10px;
  padding: 15px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #b2beb5;
}

.pixel {
  color: white;
  margin-right: 10px;
}

.ctrls {
  display: flex;
}

.ctrl-btn-row {
  margin-right: 1px;
  width: 25%;
  height: 70px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #aeaeae solid 2px;
}

.font {
  font-size: 20px;
}

.ctrl-btn-2-row {
  width: 50%;
}

.bg-ash {
  border: none;
}

.bg-ash:hover {
  background-color: #aeaeae;
  cursor: pointer;
}

.bg-orange {
  background-color: #ff8c00;
  border: #aeaeae 1px solid;
}

.display-txt {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
